In [32]:
import scipy
import matplotlib.pyplot as plt
import numpy as np
import csv
import pandas as pd

In [33]:
with open("./dataset-sp.csv", "rb") as file:
    dataset = pd.read_csv(file)

In [34]:
dataset.head()

,codigo_estacao,data,hora,temp_inst,temp_max,temp_min,umid_inst,umid_max,umid_min,pto_orvalho_inst,pto_orvalho_max,pto_orvalho_min,pressao,pressao_max,pressao_min,vento_direcao,vento_vel,vento_rajada,radiacao,precipitacao
0,A701,31/03/2019,23,21.1,21.3,21.1,74,74,73,16.2,16.2,16.0,927.7,927.7,927.1,1.2,127,4.5,-3.41,0.0
1,A701,31/03/2019,22,21.1,21.8,21.1,73,73,71,16.2,16.3,16.0,927.1,927.1,926.3,1.2,132,5.8,-3.54,0.0
2,A701,31/03/2019,21,21.8,23.9,21.8,71,71,61,16.2,16.3,15.9,926.3,926.3,925.8,1.9,134,6.6,99.90,0.0
3,A701,31/03/2019,20,23.9,26.6,23.9,61,61,50,15.9,16.0,14.9,925.8,925.8,925.1,2.6,150,7.0,731.2,0.0
4,A701,31/03/2019,19,26.4,28.7,26.0,50,50,34,15.1,15.1,11.2,925.1,925.1,924.9,2.2,170,6.3,1587.,0.0

In [35]:
hour = list(dataset['hora'])
temp = list(dataset['temp_inst'])
x = scipy.array(hour)
y = scipy.array(temp)

In [36]:
result = scipy.poly1d([0.0])

In [37]:
for i in range(0, len(x)):
    
    den = 1.0
    
    for j in range(0, len(x)):
        if i != j:
            num *= scipy.poly1d([1.0, -x[j]])
            den *= x[i]-x[j]
    result += (num/den)*y[i]
print(result)

            23             22             21             20
-1.469e-17 x  + 3.951e-15 x  - 4.996e-13 x  + 3.947e-11 x
              19             18             17             16
 - 2.184e-09 x  + 8.998e-08 x  - 2.863e-06 x  + 7.206e-05 x
             15           14          13         12         11
 - 0.001456 x  + 0.02388 x  - 0.3196 x  + 3.499 x  - 31.33 x
          10        9        8             7             6
 + 228.6 x  - 1351 x + 6399 x - 2.396e+04 x + 6.949e+04 x
              5            4             3             2
 - 1.515e+05 x + 2.38e+05 x - 2.513e+05 x + 1.574e+05 x - 4.332e+04 x + 19.3

In [38]:
n = float(input("Entre com a Hr: "))
print ("Na hora ", n, " Temperatura ", result(n))

Entre com a Hr: 21
Na hora  21.0  Temperatura  569.0223878728473

[23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]